$_photo-card-bg-color: #a89bba;

:host {
    display: block;
}

.app-photo-card {
    display: flex;
    width: 500px;
    height: 400px;
    background-color: $_photo-card-bg-color;
}

.app-photo-card-img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
